.products-container {
  width: 100%;
  margin: 60px 0;
  padding: 0 20px;
  /* font-family: 'Poppins', sans-serif; */
}


.slider-heading {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 30px;
  text-align: center;
  position: relative;
  display: block;
  font-family:'poppins';
}

.slider-heading::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -8px;
    
  transform: translateX(-50%);
  width: 20%;
  height: 4px;
  background: linear-gradient(90deg, #007bff, #00c6ff);
  border-radius: 2px;
}

.full-width-slider {
  width: 90vw;
  margin-left: calc(-50vw + 55%);
}


.slider-wrapper {
  position: relative;
  
  display: flex;
  align-items: center;
}

.products-slider {
  display: flex;
  gap: 35px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px 20px; 
  scrollbar-width: none;
}

.products-slider::-webkit-scrollbar {
  display: none;
}


.product-card {
  min-width: 260px;
  background: #fff;
  border-radius: 14px;
  padding: 15px;
  flex-shrink: 0;
  text-align: center;
}

.product-card img {
  width: 100%;
  height: 230px;
  object-fit: fill;
  margin-bottom: 10px;
}

.product-description {
  font-size: 14px;
  color: #444;
  margin: 10px 0;
}

.product-price {
  font-size: 15px;
  font-weight: 700;
  color: #555;
  margin-bottom: 12px;
}

.old-price {
  font-size: 14px;
  text-decoration: line-through;
  color: #d16a6a;
  margin-left: 8px;
}

.product-btn {
  width: 100%;
  background: #fff;
  border: 2px solid #0f0d0d;
  color: #000;
  padding: 12px 0;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.product-btn:hover {
  background: #e8e9eb;
}

.slider-btn {
  position: absolute;
  z-index: 2;
  background: #fff;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-btn.left {
  left: 10px;
}

.slider-btn.right {
  right: 10px;
}
